<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Name</label>
        <span class="helper-text" data-error="Type titile">Helper text</span>

    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required>
        <label for="price">Price</label>
        <span class="helper-text" data-error="Tyoe price">Helper text</span>

    </div>

    <div class="input-field">
        <input id="img" type="text" name="img" class="validate" required>
        <label for="img">Url Img</label>
        <span class="helper-text" data-error="Tyoe img url">Helper text</span>

    </div>

    <button class="btn btn-primary">Add Course</button>
</form>