<h1>Courses</h1>

{{#if courses.length}}
    {{#each courses}}
        <div class="row">
            <div class="col s6 offset-s3 offset-m3">
                <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt={{title}}>
                </div>
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action actions"> 
                    <a href="/courses/{{id}}" target="_blank">More...</a>
                    <a href="/courses/{{id}}/edit?allow=true" target="_blank">Edit</a>
                    <form action="/cart/add" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <button class="btn btn-primary" type="submit">Купить</button>
                    </form>

                </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>There are no any courses</p>
{{/if}}