<h1>EDit: {{course.title}}</h1>

<form action="/courses/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Name</label>
        <span class="helper-text" data-error="Type titile">Helper text</span>

    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required value="{{course.price}}">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Tyoe price">Helper text</span>

    </div>

    <div class="input-field">
        <input id="img" type="text" name="img" class="validate" required value="{{course.image}}">
        <label for="img">Url Img</label>
        <span class="helper-text" data-error="Tyoe img url">Helper text</span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn btn-primary">Edit Course</button>
</form>