.nav-wrapper{
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.course{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.course h1{
    margin-bottom: 2rem;
}

.course img{
    max-width: 600px;
    height: auto;
}

.course .price.big{
    font-style: 2.5 rem;
}

.card-action.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;

}